// font
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap');
// variabels
$primaryColor: #744DC4;
$secondaryColor: #3F2F61;
$tertiaryColor: #4743A3;
$textColor: #535456;

// Style
body {
    font-family: 'Raleway', sans-serif;

    &::before {
        content: '';
        background-image: url(../img/bg2.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 55vmax;
        height: 50em;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

// navbar
.custom-nav {
    .navbar-brand {
        img {
            height: 3em;
        }

        span {
            color: $primaryColor;
            font-weight: 500;
            font-size: 1.4rem;

            @media screen and (max-width: 762px) {
                color: $secondaryColor;
            }

        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: white;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 1.3em;
                    transition: 0.3s color ease;

                    &:hover {
                        color: darken(white, 40%);
                    }

                    @media screen and (max-width: 990px) {
                        color: black;
                    }

                }

                .sign-up-button {
                    background-color: white;
                    color: $primaryColor;
                    border-radius: 4em;
                    border: 0;

                    @media screen and (max-width: 990px) {
                        background-color: $primaryColor;
                        color: white;
                        width: 13em;
                    }
                }
            }
        }
    }
}


// section
.custom-section {
    margin-top: 9.3em;

    @media screen and (max-width: 992px) {
        margin-top: 29em;

    }

    h3 {
        color: $primaryColor;
        margin-bottom: 0.5em;
    }

    h1 {
        font-size: 3.2em;
        color: $tertiaryColor;
        margin-bottom: -4px;

        @media screen and(max-width: 992px) {
            width: 420px;
            font-size: 2em;
        }
    }

    h4 {
        color: $textColor;
        font-size: 1.5em;
        width: 390px;
        border-radius: 2px;

        @media screen and(max-width: 1192px) {
            width: 370px;
        }

        @media screen and(max-width: 992px) {
            width: 390px;
            font-size: 1em;
        }
    }

    a {
        margin-top: 2.3em;
        color: white;
        background-color: $tertiaryColor;
        display: inline-block;
        border-radius: 2em;
        padding: 0.5em 1em;
        text-decoration: none;
    }
}


.content-section2 {
    margin-top: 20em;
    padding-top: 5.5em;
    height: 30em;

    .wrapper {
        display: grid;
        grid-template-columns: 55% 35%;

        .page1 {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 23em;
            }
        }

        .page2 {
            padding-top: 2.5em;
            font-size: 1em;
        }
    }
}

.content-section3 {
    margin-top: 10em;
    height: 45em;
    background-color: $primaryColor;

    h2 {
        padding-top: 3em;
        text-align: center;
        color: white;
        padding-bottom: 0.3em;
    }


    .custom-card {
        padding-top: 9em;
        margin: auto;
        border: 0;
        width: 55em;
        color: white;

        .card {
            border: 0;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            h4{
                color: $textColor;
            }

            img {
                width: 6em;
            }
        }

    }
}

.content-section-work {
    height: 105em;
    background-color: $primaryColor;

    h2 {
        padding-top: 0.8em;
        text-align: center;
        color: white;
        padding-bottom: 0.3em;
    }

    .worksone {
        margin-top: 7em;
        display: grid;
        grid-template-columns: 50% 40%;

        .jiss {

            img {
                box-shadow: 14px 14px 5px rgba(0, 0, 0, 0.301);
                border-radius: 10px;
                display: block;
                margin-left: 6em;
                width: 20em;
            }
            h4{
                padding-top: 4.5em;
                color: $secondaryColor;
            }
            p{
                color: white;
            }
        }
    }
    .workstwo {
        margin-left: 5em;
        margin-top: 10em;
        display: grid;
        grid-template-columns: 50% 40%;

        .design {
            img {
                box-shadow: -14px 14px 5px rgba(0, 0, 0, 0.301);
                border-radius: 10px;
                display: block;
                margin-left: 5em;
                width: 20em;
            }
            h4{
                text-align: right;
                padding-top: 2em;
                color: $secondaryColor;
            }
            p{
                text-align: right;
                color: white;
            }
            button{
                float: right;
            }
        }
    }

    .workstree {
        margin-top: 10em;
        display: grid;

        .photografy {
            margin-right: auto;
            margin-left: auto;
            width: 60em;
            h4{
                text-align: center;
                padding-top: 1em;
                color: $secondaryColor;
            }
            p{
                text-align: center;
                color: white;
            }
            img{
                box-shadow: 14px 14px 5px rgba(0, 0, 0, 0.301);
                border-radius: 10px;
                margin-top: 2em;
                margin-right: auto;
                margin-left: auto;
                display: block;
                width: 60em;
            }
        }
    }
}


.contactus{
    height: 42em;
    background-color: whitesmoke;

    h2 {
        margin: auto;
        color: $primaryColor;
        font-size: 3.5rem;
        font-weight: 700;
    }
    h3 {
        margin-left: 2em;
        color: $primaryColor;
        font-size: 2rem;
        font-weight: 700;
    }
    p{
        margin-left: 4em;
    }
    .content {
        padding: 7rem 0;
    }
    

    .box{
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .form-control {
        border: none;
        border-bottom: 1px solid lighten(#ccc, 5%);
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        background-color: whitesmoke;
        &:active, &:focus {
            outline: none;
            box-shadow: none;
            border-color: #000;
        }
    }
    .btn, .form-control {
        margin-bottom: 1em;
        height: 60px;
    }

    label.error {
        font-size: 12px;
        color: red;
    }

    .submitting {
        float: left;
        width: 100%;
        padding: 10px 0;
        display: none;
        font-weight: bold;
        font-size: 12px;
        color: #000;
    }
    table{
        margin-left: 3em;
        td{
            padding-left: 1em;
            padding-bottom: 0.5em;
        }
    }
}


.linkus{
    height: 23em;
    background-color: whitesmoke;
    .card-group{
        padding-top: 5em;
        margin: auto;
        width: 40em;
    }
    .card{
        border: 0;
        text-align: center;
        background-color: whitesmoke;
        height: 6em;

        a{
            text-decoration: none;
            color: $textColor;
        }

        img{
            width: 4em;
        }
         p{
            margin-top: 1em;
        }

    }
    
    
}


.footer {  
    height: 4em;
    background-color: $tertiaryColor;
    p{
        text-align: center;
        padding-top: 1.5em;
        color: whitesmoke;
    }
}